################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/InterviewCRUD/.vs/InterviewCRUD
/InterviewCRUD/bin
/InterviewCRUD/obj
/InterviewCRUD.Repository/bin/Debug
/InterviewCRUD.Repository/obj/Debug
/InterviewCRUD.Service/bin/Debug
/InterviewCRUD.Service/obj/Debug
